@page "/"

@implements IDisposable
@using BlazorGame.Components

@if (ShowEntryScreen)
{
    <JoinGame OnJoinedGame="OnJoinGame" GameId="gameId"></JoinGame>
}
else
{
    <div class="alert alert-info">
        <h3>PIN code: @_gameState.PinCode</h3>
        <p>This <a href="@GameUrl">game link</a> allows other people to join the game.</p>
    </div>

    <button type="button" class="btn btn-warning mb-2" @onclick="OnLeaveGame">Leave Game</button>

    <hr/>

    //<h4 class="text-info text-center my-3">@TurnMessage</h4>

    @if (_gameState.HasDealtCards)
    {
        @if (ShowHand)
        {
            <div class="d-flex justify-content-center mt-5">
                @foreach (var card in MyHand!.Cards)
                {
                    <PlayingCard Value="@card" OnCardClicked="OnCardClicked"></PlayingCard>
                }
            </div>
        }

        <div class="d-flex justify-content-center mt-5">
            <PlayedCards UserId="@UserId" GameStateModel="_gameState"></PlayedCards>
        </div>

        @if (_gameState.PlayedCards.Any() && !_gameState.IsComplete)
        {
            <div class="text-center mt-5">
                @if (!_gameState.ReadyForNextTurn)
                {
                    <h5>Your Played Card:</h5>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="d-flex flex-row justify-content-center">
                            @foreach (var playedCard in _gameState.PlayedCards.Where(pc => pc.Key == UserId))
                            {
                                <div class="card text-center m-2" style="width: 18rem;">
                                    <div class="card-body">
                                        <PlayingCard Value="@playedCard.Value"></PlayingCard>
                                    </div>
                                    <div class="card-footer text-muted">

                                        <em>Played by @GetUserNameById(playedCard.Key)</em>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <h5>Played Cards:</h5>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="d-flex flex-row justify-content-center">
                            @foreach (var playedCard in _gameState.PlayedCards)
                            {
                                <div class="card text-center m-2" style="width: 18rem;">
                                    <div class="card-body">
                                        <PlayingCard Value="@playedCard.Value"></PlayingCard>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <em>Played by @GetUserNameById(playedCard.Key)</em>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    if (_gameState.TurnWinnerId is not null)
                    {
                        @if (_gameState.TurnWinnerId == "-1")
                        {
                            <div>
                                <strong>this time no one could win(</strong>
                            </div>
                        }
                        else
                        {
                            @if (_gameState.TurnWinnerId == UserId)
                            {
                                <script>
                                    triggerConfetti();
                                </script>
                            }

                            <div>
                                <strong>Player @GetUserNameById(_gameState.TurnWinnerId) WIN THIS ROUND</strong>
                            </div>
                        }
                    }
                }
            </div>
        }

        @if (_gameState.IsComplete)
        {
            <div class="text-center mt-5">
                <h4>Game Over</h4>
                <h5>Winner: @GetWinnerOfTheGame()</h5>
            </div>
        }

        @if (CanPlayAgain)
        {
            <div class="text-center">
                <button type="button" @onclick="OnNewGame" class="mt-5 btn btn-primary">Play Again</button>
            </div>
        }
        else if (_gameState.ReadyForNextTurn)
        {
            <div class="text-center">
                <button type="button" @onclick="OnPlayNext" class="mt-5 btn btn-info">Next Turn</button>
            </div>
        }
    }
    else if (CanDealCards)
    {
        <div class="text-center">
            <button type="button" @onclick="OnDealCards" class="mt-5 btn btn-info">Deal</button>
        </div>
    }
}